{% extends 'base.html' %}

{% block content %}


<div class="container-fluid">
	<div class="post-detail">
		<h1>{{post.title}}</h1>
    {% for j in post.joined_users.all %}
      <p>{{ j }} has joined this game</p>
    {% endfor %}
    {% if post.get_num_players >= post.capacity  %}
      <p>This game is now full</p>
      <a class="btn btn-primary" href='{% url "add" post.id %}' role="button" disabled>Join</a>
    {% else %}
      <a class="btn btn-primary" href='{% url "add" post.id %}' role="button">Join</a>
    {% endif %}

    {% if post.user == user %}
    <a class="btn btn-primary" href='{% url "remove" post.id %}' role="button">Delete</a>
    {% endif %}

    <a class="btn btn-default" href="{% url 'add_comment_to_post' post_id=post.id %}">Add comment</a>
    {% for comment in post.comments.all %}
    <div class="comment">
        <div class="date">{{ comment.created_date }}</div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}

    
	</div>
</div>

<div id="map"></div>
    <script>
      var map;
      function initMap() {
        var coordinates = {lat: {{latitude}}, lng: {{longitude}}}

        map = new google.maps.Map(document.getElementById('map'), {
          center: coordinates,
          zoom: 13
        });

        var marker = new google.maps.Marker({
        position: coordinates,
        map: map,
        title: 'Hello World!'
        });
        var infowindow = new google.maps.InfoWindow({
          content: 'ayo'
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
  
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDtk_0eRJb6aXELbxPMp5yIrMJFjI_eJko&callback=initMap"
    async defer></script>

{% endblock %}

